git+https://github.com/KurimuzonAkuma/pyrogram.git
TgCrypto
websocket-client
websockets
matplotlib
beautifulsoup4
aiofiles
requests
py-tgcalls
wget
SpeechRecognition
pyttsx3
pydub
wikipedia
pymongo
google
fuzzywuzzy
aiohttp
lyricsgenius
pymongo[srv]
yt_dlp
asyncio
youtube_search_python
youtube_dl
youtube_search
python-ffmpeg
ffmpeg
motor==3.6.0
telegraph
gtts
